.output_canvas {
	background-color: black;
}

.fullCard {
	height: 100%;
	width: 100%;
}

.halfCard {
	height: 50%;
	width: 100%;
	margin-top: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	height: 91vh;
	padding: 20px;
}

.row > div[class*="col-"] {
	display: flex;
}

.col-sm-7 {
	margin: 0px;
	padding: 0px;
}

.col-sm-5 {
	margin: 0px;
	padding: 0px;
}

.col {
	height: 100%;
	width: 100%;
	padding-left: 30px;
}

.input_video {
	border: 2px solid rgb(46, 43, 43);
}

.input_canvas {
	position: absolute;
	opacity: 0.7;
	background: radial-gradient(#3b3b3b8a, #000000);
	width: 100%;
	height: 100%;

	width: 640px;
	height: 480px;
}

.output_canvas {
	border: 2px solid rgb(46, 43, 43);
	width: 100%;
}

.spinner-border {
	color: white;
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: -100px;
}

.loading-screen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: radial-gradient(#3b3b3b8a, #000000);
	background-repeat: no-repeat;
	width: 100%;
	height: 91.5vh;
}

.charging-text {
	color: white;
	position: absolute;
	margin-top: 190px;
	text-align: center;
}

.configBox {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.card-body {
	display: flex;
	justify-content: center;
}

.cardHeight {
	height: 84vh;
}

.cardHeighColumn {
	height: 41vh;
}

.blue {
	background-color: #3c6497;
}

.prediction {
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 790px) {
	.loading-screen {
		width: 100%;
		height: auto;
	}

	.input_video {
		width: 90%;
		border: none;
	}

	.spinner-border {
		color: white;
		position: absolute;
		width: 100px;
		height: 100px;
		margin-top: -80px;
	}

	.cardHeight {
		margin-top: 30px;
		height: auto;
	}

	.cardHeighColumn {
		margin-top: 30px;
		height: auto;
	}
}

@media screen and (min-width: 2000px) {
	.loading-screen {
		width: 100%;
		height: 100vh;
	}

	.input_video {
		border: none;
	}

	.spinner-border {
		color: white;
		position: absolute;
		width: 100px;
		height: 100px;
		margin-top: -80px;
	}
}

@media screen and (max-width: 575px) {
	.col {
		padding: 0px;
	}
	.row {
		height: auto;
	}
	.col-sm-4 {
		margin-top: 20px;
	}
	.halfCard {
		height: auto;
		width: 100%;
		margin-top: 20px;
	}
}
