.yellow-background {
	background-color: #d9b310;
}

.navbar-fix {
	display: flex;
	justify-content: space-between;
	background-color: #001633;
}

ul {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 10px;
}

ul li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	transition: 1s all;
	cursor: pointer;
}

ul li a:hover {
	color: #4b5c83;
}

a,
img,
button {
	color: aliceblue;
}

.logo {
	height: 60px;
}
