# ====================================
# Comentarios
# ====================================
# Librerías Fijas
# ====================================
ipykernel == 6.9.2
# ====================================
# Librerías
mediapipe == 0.8.9.1
opencv-python == 4.5.5.64
# ====================================