# ====================================
# Comentarios
# No poner la libreria tensorflow
# ====================================
# Librerías Fijas
# ====================================
ipykernel == 6.9.2
# ====================================
# Librerías
#numpy == 1.13.0
#matplotlib == 2.0.2
#opencv-python == 3.2.0.8
# ====================================