# ====================================
# Comentarios
# No poner la libreria tensorflow
# ====================================
# Librerías Fijas
# ====================================
ipykernel == 6.9.2
# ====================================
# Librerías
# ====================================