.chartData {
	width: 100%;
	height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
}

.alignContentEmpty {
	display: flex;
	justify-content: center;
	align-items: center;
}
